.*
.env
.eslintcache
.example.env
.tsconfig*
jest.config.js
rollup.dts.config.mjs
typedoc.json
yarn.lock
**/*.spec.ts
**/*.snap

*.eslintcache
*.tsbuildinfo

eslint.config.*
knip.config.*
vitest.*.*

.github
docs
.pnp.*
.vscode
.yarn/*
coverage
cspell.json
node_modules
swagger.json

**/testData.json
.env
.env.local
.env.remote